@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

// COLOR
$primary-color: #0d3831;
$secondary-color:#e85300;
$disabled: #89A9A4;
$rojo: #E02D39;
$verde-clarito: #4CB3A0;
$verde-clarito2: #497B73;
$claro: #F4F5FA;
$verde-manzana: #86bc33;

$primaryColor: #1F5D53 !default;
$primaryLightColor: #4CB3A0 !default;
$primaryDarkColor: #0D3831 !default;
$primaryDarkerColor: #071d19 !default;
$primaryTextColor: #ffffff !default;
$primaryBackgroundColor : #F4F5FA !default;
$secondaryTextColor: #000 !default;
$fontFamily: "Sofia Sans", sans-serif !default;
$rounded-radius: 2rem;

//Sales status colors
$initiated: #4CB3A0 ;
$inTransit: #03a9f4;
$waitingDelivery:#ff9800 ;
$waitingCustomer: #ffeb3b;
$waitingPayment: #ff5722;
$finished: #2962ff;
$canceled: #d50000; 

//Provider status colors
$provider-out-of-stock: #E54444;
$provider-to-confirm:  #EED865;
$provider-initiated: #276CA3;
$provider-waiting-shipping: #3A99B2;
$provider-in-transit:#49B886;
$provider-finished: #86bc33;

//FONTS
$primary-font: "Sofia Sans", sans-serif;

// SIZES
$menu-width: 240px;





