@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import './piatti/styles/variables.scss';
@import './piatti/styles/global.scss';

div#root {
  display: contents;
  .layout-container {
    background-color: $claro;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.sidebar {
  .view {
    box-shadow: 11px 11px 17px rgba(30, 30, 30, 0.05);
    border-radius: 2rem;
    border: none !important;
  }
  
  .sidebar_container {
    position: fixed;
    left: 0;
    width: $menu-width;
    margin: 0;
    padding: 0;
  
  }

  .company__container{
    width: 240px;
    position: fixed;
    bottom: 1vh;
    left: 0rem;
    border-radius: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  

    .previous_company{
      position: relative;
      background: var(--claro);
      height: 3.6rem;
      
      .emptyBefore_company{
        background-color: var(--primary-dark-color);
        width: -webkit-fill-available;
        height: inherit;
        border-radius: 0 0 3rem 0;
        position: absolute;
        bottom: 0;
        left: 0;

        ;
      }
    }
    
  }
  &__company{
    background: var(--claro);
    border-radius: 3rem 0 0 3rem;
    cursor: pointer;


    &__logo{
      height: 4rem;
      padding: 0.5rem;
      margin-left: 2rem;
    }
  }

  &__logo {
    margin: 1rem;
    width: -webkit-fill-available;
    position: relative;
    z-index: 3;
    height: 13vh;
    border-bottom: 0.01px solid white;
  }

  &__nav {
    margin-top: -60px;
  }

  &__list {
    top: 2rem;
    position: relative;
    z-index: 2;
    padding: 0;
    
    @each $id, $image in $menu-item-normal {
      li##{$id} button .menu_item__logo {
        background-image: $image;
        height: 1.5rem;
        width: 1.9rem;
        background-repeat: no-repeat;
        margin-right: 1rem
      }
    }

    @each $id, $image in $menu-item-selected{
      li##{$id}.selected .menu_item__logo {
        background-image: $image;
      }
    }
    li.menu_item {
      list-style: none;
      height: 3.6rem;
      align-items: center;
      
      >button {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-left: 2rem;
        height: inherit;
        width: 100%;
        border: none;
        cursor: pointer;
        color: var(--primary-text-color);
        font-family: var(--font-family);
        text-transform: uppercase;
        font-weight: 300;
      }
        
      &__logo {
        height: 1.5rem;
        width: 1.9rem;
        background-repeat: no-repeat;
      }
    }
    li.menu_item#submenu {
      display: none;
    }
    li.menu_item .emptyAfter, li.menu_item .emptyBefore {
      height: 10vh;
    }

    li.menu_item.previous, li.menu_item.next, li.menu_item.selected {
      background-color: $claro;
      color: var(--menu-selected-color);
    }
    
    li.menu_item.previous .emptyBefore, li.menu_item.previous button,
    li.menu_item.next .emptyAfter, li.menu_item.next>button {
      background-color: $primary-color;
      height: inherit;
      width: 100%;
      
    }

    li.menu_item.previous .emptyBefore, li.menu_item.previous button {
      border-radius: 0 0 3rem;
    }

    li.menu_item.next .emptyAfter, li.menu_item.next>button {
      border-radius: 0 3rem 0 0;
    }
         

    li.menu_item.selected {
        border-radius: 3rem 0 0 3rem;
        button {
          background: var(--claro);
          border-radius: 3rem 0 0 3rem;
          color: var(--primary-text-black);
        }

      &#sales + #submenu {
        display: block;
        margin-left: 2.5rem;
        border-radius: 0 0 0 2rem;
        height: max-content;
      
        ul.sidebar__submenu__list{
          background-color: $primaryLightColor;
          border-radius: 0 2rem 0 2rem;
          button {
            background-color: transparent;
            font-family: var(--font-family);
            text-transform: uppercase;
            font-weight: 200;
            height: 2.5rem;
            padding-left: 1.5rem;
            color: var(--primary-text-color);
            font-size: x-small;
          }

          li.submenu_item:hover button{
            cursor: pointer;
            width: max-content;
          }
          
          li.submenu_item.selected span{
            color: var(--primary-dark-color);
          }
        }
      }
    }
  }
}


button.updateToProforma, button.updateToComprobante {
  padding: 0.2rem 0.7rem;
  border-radius: 0.8rem;
  font-variant-caps: all-small-caps;
}

.content {
  position: fixed;
  width: calc(100% - $menu-width - 7vw);
  background-color: #F4F5FA;
  border-radius: 38px 38px 38px 0px;
  left: $menu-width;
  right: calc(-1 * $menu-width);
  padding: 2rem 3vw;
  top: 1vh;
  bottom: 1vh;
  overflow-y: scroll;

  .view{
    &__user.history-client{
      margin-bottom: 2rem;

      .data{
        width: 100%;
        &_user {
          background-color: #ffffff;
          border-radius: var(--rounded-radius);
          width: 45%;
          padding: 1.2rem;
          
          &_container {
            display: flex;
            align-items: center;
            gap: 1rem;
            .user_identity {

              h1 {
                color: var(--primary-dark-color);
                font-size: larger;
                margin: 0;
              }
              
            }
          }

          &_identity_extra{
            display: flex;
            justify-content: space-between;
            color: var(--verde-medio);
            font-weight: bold;
            align-items: flex-end;
            p {
              margin: 0;
            }
            .fantasy_name{
              font-style: italic;
            }
            .client_id{
              font-variant: all-small-caps;
              font-size: 1.1rem;
            }
          }

          &_info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 1rem;

            &_contact_item {
              display: flex;
              align-items: center;
              p {
                margin: 0.5rem;
              }
            }
            &_extra {
              p {
                margin: 0.5rem;
                font-variant: all-small-caps;
                font-weight: 500;
                font-size: large;
                color: var(--primary-light-color);
                span {
                  color: black;
                  font-variant: initial;
                  font-size: medium;
                  &.fiscal_code {
                    font-variant: all-small-caps;
                    font-size: larger;
                  }
                }
              }
            }
          }

          &_update {
            display: flex;
            justify-content: flex-end;
            gap: 0.4rem;
          }
        }

        &_graph{ 
          background-color: var(--primary-color);
          border-radius: var(--rounded-radius);
          width: 53%;
          display: flex;
          
          &_date {
            display: flex;
            flex-direction: column;
            background: var(--verde-medio);
            width: 50%;
            border-radius: 2rem;
            color: white;
            align-items: center;
            justify-content: center;
            img {
              width: 12%
            }
            p {
              margin: 1rem;
              font-size:larger;
              font-size:300;
            }
            h3 {
              margin: 0;
              font-size: x-large;
            }
          }
        }  
      }
      
    }

  }
}

.verde-medio{
  color: var(--verde-medio);
}

.sales-modal{
  .p-dialog-header{
    padding: 1.2rem 1rem 0 1.5rem !important;
  }
  .p-inputnumber-input{
    border-radius: var(--rounded-radius) !important;
  }
  &-table{
    height: 30vh;
    overflow-y: scroll;
    border: 1px var(--primary-color) solid;
    border-radius: 1rem;
    // padding: 0.1rem
    .p-datatable-table{
      padding: 0.3rem 0.9rem !important;
      .p-datatable-thead tr th{
        border-bottom: var(--primary-color) 0px solid !important;
      }
    }
  }
}
span.p-button {

  &-label {
    font-weight: 400;
    font-variant: all-small-caps;
    font-size: large;
  }

  &-icon {
    font-variant: all-small-caps;
    line-height: 1.2;
  }
}

p.icon, .p-input-icon, .p-icon {
  color: var(--primary-color);
}

.p-dialog {
  min-height: auto;
  box-shadow: none;
  &-content {
    max-height: max-content;
  }
}
.confirm-dialog-modal{
    position: absolute;
    top: 51%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 23vh;
    width: 25vw; 
    background-color: var(--primary-background-color);
    border-radius: var(--rounded-radius);
    color: var(--primary-text-color);
    padding: 1rem 0 0 0;
    div{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .confirm-dialog-message{
            color: var(--primary-dark-color);
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
        }
        .buttons-container{
            display: flex;
            align-items: end;
            justify-content: center;
            button{
                margin: 0 0.2rem;
            }
            .accept{
              background-color: var(--primary-dark-color)!important;
            }
            .reject{
              background-color: var(--rojo)!important;
            }
            .cancel{
              background-color: var(--disabled)!important;
            }
        }
    }
}

.login-dialog-modal{
  position: absolute;
  top: 51%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 37vh;
  width: 25vw; 
  background-color: var(--primary-background-color);
  border-radius: var(--rounded-radius);
  color: var(--primary-text-color);
  padding: 1rem 0 0 0;
  .dialog-container{
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .input-container>.p-icon-field{
          margin-bottom: 1rem;
          width: 100%;
      }
      .login-dialog-message{
          padding: 1rem;
          color: var(--primary-dark-color);
          font-size: 2rem;
          text-align: center;
          font-weight: bold;
      }
      .buttons-container{
          margin: 1rem;
          display: flex;
          align-items: end;
          justify-content: space-between;
          button{
              margin: 0 0.2rem;
          }
          .accept{
            background-color: var(--primary-dark-color)!important;
          }
          .reject{
            background-color: var(--rojo)!important;
          }
          .cancel{
            background-color: var(--disabled)!important;
          }
      }
  }
}

.total-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    background-color: var(--disabled);
    .text-important{
        color: var(--primary-dark-color);
    }
    .price{
        color: var(--secondary-text-color);
    }
}
.table-container{
  border: 1px var(--primary-color) solid;
  border-radius: 1rem;
  .p-datatable-wrapper{
    background-color: transparent !important;
  }
  .p-datatable-table{
    padding: .5rem 0.9rem !important;
    border-radius: 1rem;
    .p-datatable-thead tr th{
      border-bottom: var(--primary-color) 0px solid !important;
    }
  }
  .discount-input, .discount-input input{
      width: 4rem !important;
  }
}
.progressBar{
  border-radius: var(--rounded-radius);
  background-color: #4cb3a04d;
  .p-progressbar-value{
    background-color: var(--primary-color);
    border-radius: var(--rounded-radius);
  }
}

.pi.pi-times {
  font-size: 0.5rem;
}