@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'primeicons';
  src: url('~primeicons/fonts/primeicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$primaryColor: #1F5D53 !default;
$primaryLightColor: #4CB3A0 !default;
$primaryDarkColor: #0D3831 !default;
$primaryDarkerColor: #071d19 !default;
$primaryTextColor: #ffffff !default;
$primaryBackgroundColor : #F4F5FA !default;
$secondaryTextColor: #000 !default;
$menuSelectedColor: #e85300 !default;
$fontFamily: "Sofia Sans", sans-serif !default;
$rounded-radius: 2rem;

:root{
  --primary-color: #{$primaryColor}!important; 
  --primary-dark-color: #{$primaryDarkColor}!important;
  --primary-light-color: #{$primaryLightColor}!important;
  --primary-darker-color: #{$primaryDarkerColor}!important;
  --primary-text-color: #{$primaryTextColor}!important;
  --secondary-text-color: #{$secondaryTextColor}!important;
  --primary-background-color: #{$primaryBackgroundColor}!important;
  --menu-selected-color: #{$menuSelectedColor}!important;
  --font-family: #{$fontFamily};
  --aire: 1rem;
  --rounded-radius: #{$rounded-radius};
}

.p-button:focus,
.p-inputtext:focus,
.p-dropdown:focus{
  border-color: var(--primary-color);
}

.p-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-dark-color) !important;
  color: var(--primary-text-color) !important;
}

.p-button:not(:disabled):hover {
  background: var(--primary-color);
  color: #ffffff;
  border-color: var(--primary-color) ;
}

.p-inputtext {
  border-color: var(--primary-dark-color) !important;
}

.p-panel{
  border-color: var(--primary-color) !important;
}
.p-inputwrapper-focus,.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-light-color); 
  border-color: var(--primary-light-color);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus{
  background: var(--primary-light-color);
  color: var(--primary-text-color);
}

.p-dropdown:not(.p-disabled):hover {
  border-color: var(--primary-light-color);
}
