@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'primeicons';
  src: url('~primeicons/fonts/primeicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$primaryColor: #1F5D53 !default;
$primaryLightColor: #4CB3A0 !default;
$primaryDarkColor: #0D3831 !default;
$primaryDarkerColor: #071d19 !default;
$primaryTextColor: #ffffff !default;
$primaryBackgroundColor : #F4F5FA !default;
$secondaryTextColor: #000 !default;
$menuSelectedColor: #e85300 !default;
$fontFamily: "Sofia Sans", sans-serif !default;
$rounded-radius: 2rem;

:root{
  --primary-color: #{$primaryColor}!important; 
  --primary-dark-color: #{$primaryDarkColor}!important;
  --primary-light-color: #{$primaryLightColor}!important;
  --primary-darker-color: #{$primaryDarkerColor}!important;
  --primary-text-color: #{$primaryTextColor}!important;
  --secondary-text-color: #{$secondaryTextColor}!important;
  --primary-background-color: #{$primaryBackgroundColor}!important;
  --menu-selected-color: #{$menuSelectedColor}!important;
  --font-family: #{$fontFamily};
  --aire: 1rem;
  --rounded-radius: #{$rounded-radius};

  // Para pedidos
  --presupuesto: #19E052;
  --proforma:    #1986e0;
  --comprobante: #1937e0;
  --canceled:    #d50000;      // finished
  // Para luego en comprobante
  --in_order:         #E00096;
  --in_provider:      #9B00E0;
  --delayed_provider: #5200E0;
  --finished:         #003FE0; // finished

  // Para producto
  --provider-unitianitated:    #EED865;
  --provider-to-confirm:       #86bc33;
  --provider-pending-shipping: #49B886;
  --provider-out-of-stock:     #E54444;
  --provider-shipping:         #3A99B2;
  --provider-on_deposit:       #276CA3; //finished

}


.p-button:focus,
.p-inputtext:focus,
.p-dropdown:focus{
  border-color: var(--primary-color);
}

.p-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-dark-color) !important;
  color: var(--primary-text-color) !important;
  .p-button-secondary{
    background-color: var(--primary-light-color) !important;
    border-color: var(--primary-dark-color) !important;
    color: var(--primary-text-color) !important;
  }
}

.p-button:not(:disabled):hover {
  background: var(--primary-color);
  color: #ffffff;
  border-color: var(--primary-color) ;
}

.p-inputtext {
  border-color: var(--primary-dark-color) !important;
}

.p-panel{
  border-color: var(--primary-color) !important;
}
.p-inputwrapper-focus,.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-light-color); 
  border-color: var(--primary-light-color);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus{
  background: var(--primary-light-color);
  color: var(--primary-text-color);
}

.p-dropdown:not(.p-disabled):hover {
  border-color: var(--primary-light-color);
}
.text-important{
    color: var(--primary-dark-color);
    font-weight: bolder!important;
    font-variant: all-petite-caps;
}
.big-text{
  font-size: 2rem;
}
.modal-header{
  display: flex;
  justify-content: space-between;
}

.circle-state{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.p-dialog{
  min-width: 700px;
  min-height: 600px;
  .p-datatable-header{
      display: none;
  }
  .p-dialog-header{
      border-radius: var(--rounded-radius) var(--rounded-radius) 0 0;
  }
  .p-dialog-content{
      padding: 0;
  }
  .p-dialog-footer{
      border-radius: 0 0 var(--rounded-radius) var(--rounded-radius);
      padding:  1rem 1rem;
      .modal-container{
          margin-left: 1rem;
          margin-right: 1rem;
      }
  }
}
.state-selector{
  border: 0px solid var(--primary-color)!important;
  &_option{
     min-width: 240px;
    
   }
}
.create-modal{
  .p-dialog-header{
    padding: 0 2rem;
    font-size: larger;
    .p-dialog-header-icons{
      align-self: center;
    }
  }
  .modal-body{
    padding: 0 2rem 1rem 2rem;
    .p-inputtext{
      min-width: 280px;
      border-radius: var(--rounded-radius);
    }
  }
}


.flex{
  display: flex;
  &_row{
      flex-direction: row;
  }
  &_column{
      flex-direction: column;
  }
} 
.justify-content-end{
  justify-content: flex-end;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.justify-content-start{
  justify-content: flex-start;
}
.align-items-center{
  align-items: center;
}
.gap{
  &_1{
      gap: 1rem;
  }
  &_2{
      gap: 2rem;
  }
  &_3{
      gap: 3rem;
  }
}
.mt{
  &_1{
      margin-top: 1rem;
  }
  &_2{
      margin-top: 2rem;
  }
  &_3{
      margin-top: 3rem;
  }
}
